<h1 class="username"><%= @user.name %>さん</h1>

<div class="user_info_message_container">
  <div class="user_info_message">プロフィール</div>
  <div class="user_info_edit"><%= link_to "編集", root_path ,class: 'user_info_edit_link' %></div>
</div>

<div class="user_info_wallpaper">

  <div class="user_info_contents">
    <table class="user_info_swiching">
      <tr>
        <td><%= link_to "アカウント", user_path( current_user.id ), class: 'user_info_swiching_contents3' %></td>
      </tr>
      <tr>
        <td><%= link_to "プロフィール", "users/#{ @user.id }/profile", class: 'user_info_swiching_contents4' %></td>
      </tr>
    </table>

    <table class="user_info_display">
      <tr>
        <td>画像</td>
      </tr>
      <tr>
        <td>名前</td>
      </tr>
      <tr>
        <td>自己紹介</td>
      </tr>
    </table>
  </div>

</div>
